.bar {
  height: 200px;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("../images/HbGwSvk.png");
  background-repeat: no-repeat;
  background-color: rgb(18, 40, 92);
  background-position: center;
}

.my-span {
  margin-top: 85px;
  display: inline-block;
  font-size: 25px;
  color: azure;
}
