.bar {
  height: 200px;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("/assets/images/head.png");
  background-repeat: no-repeat;
  background-color: rgb(18, 40, 92);
  background-position: center;
}

.bar img {
  display: none;
}

.my-span {
  margin-top: 85px;
  display: inline-block;
  font-size: 25px;
  color: azure;
}

@media (max-width: 1000px) {
  .bar {
    background-image: none;
  }
  .bar img {
    height: 100%;
    display: inline-block;
  }
  .my-span {
    display: none;
  }
}
