<div class="container">
  <div
    *ngFor="let item of news; let odd = odd"
    [ngClass]="odd ? 'single-1' : 'single-2'"
  >
    <p class="title">{{ item.title }}</p>
    <p class="date">{{ item.date | date: "EEEE, d MMMM y":"":"pl" }}</p>
    <img
      src="{{ item.photoUrl }}"
      onerror="this.onerror=null;this.src='../../assets/images/default.jpg'"
    />
    <button
      [style.backgroundColor]="green"
      class="like-button"
      (click)="votes.emit(item)"
    >
      like {{ item.votes }}
    </button>
    <button
      [style.backgroundColor]="red"
      class="like-button"
      (click)="delete.emit(item)"
    >
      delete
    </button>
    <p class="content">{{ item.news }}</p>
  </div>
</div>
